exercise-04/src/hr/lcabraja/iis/exercise04/task02/xml/studenti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="studenti">
    </xs:element>

    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element type="xs:string" name="ime"/>
            <xs:element type="xs:string" name="prezime"/>
            <xs:element name="dolaznost">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0" />
                        <xs:maxInclusive value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="studentiType">
        <xs:sequence>
            <xs:element type="studentType" name="student" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>